.carousel .slide {
  background: #fff;
  height: 220px;
  img {
    width: 50%;
    height: 50%;
  }
  .legend {
    color: #000;
    background: transparent;
    opacity: 0.8;
  }
}

// .carousel:hover .slide {
//   .legend {
//     background: transparent;
//   }
// }
.masterItem {
  padding: 0 10px;
  background: transparent;
  
}