.carousel .slide {
  background: #fff;
  img {
    width: 70%;
    height: 70%;
  }
  .legend {
    color: #000;
    background: transparent;
    opacity: 0.8;
  }
  .test {
    //background: #ff0000;
    // align-self: flex-end;
  }
}

.masterItem {
  padding: 10px 10px;
  height: 100%;
}