@import "../../../styles/\ palettу.scss";

.carousel .slide {
  background: $white;
  img {
    width: 70%;
    height: 70%;
  }
}

.masterItem {
  padding: 10px 10px;
  height: 100%;
}

.carousel.carousel-slider .control-arrow:hover {
  background: transparent;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid $light-dark;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid $light-dark;
}

#video .content {
  padding-left:0;
  padding-right: 0;
}