@import "../../../styles/\ palettу.scss";

.footer__content {
  display: flex;
  flex-wrap: "no-wrap";
  padding-top: 80px;
  .footer__name {
    padding-left: 20px;
    text-transform: uppercase;
    line-height: 45px;
    font-family: "Roboto-BoldCondensed", Arial;
    letter-spacing: 0.18em;
    color: $light-dark;
    font-size: 2.2em;
  }
  .footer__contacts {
    padding-left: 80px;
    font-family: "PT Sans", serif;
    font-size: 2.2em;
    line-height: 45px;
  }
}
