@font-face {
  font-family: "Lemon Tuesday";
  src: url("../fonts/LemonTuesday.otf");
}
@font-face {
  font-family: "Roboto-BoldCondensed";
  src: url("../fonts/Roboto-BoldCondensed.ttf");
}

$breakpoint-tablet: 992px;

body, ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Open Sans', Arial;
  line-height: 20px;
  text-align: justify;
}

:focus {
  outline: none;
}

h1 {
  font-family: "Lemon Tuesday", Helvetica, sans-serif;
  font-size: 3.6em;
  text-align: center;
  background: linear-gradient(90deg, #0085c7 45%, #34f3f5 65%, #34f3f5);
  line-height: 2em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0085c7;
  margin: 0;
}
h4 {
  font-family: "Lemon Tuesday", Helvetica, sans-serif;
  font-size: 1.6em;
  text-align: left;
  background: linear-gradient(90deg, #0085c7 45%, #34f3f5 65%, #34f3f5);
  line-height: 2em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0085c7;
  margin: 0;
}

.hide {
  display: none
}

.fixed {
  position: fixed;
}

