@import "../../../../styles/\ palettу.scss";

.mobileHeader__topline{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: transparent;
  display: flex;
  .mobileHeader__logo {
    height: 2.2em;
    width: 2.2em;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 15px;
    fill: $white;
  }
  .mobileHeader__name {
    color: $white;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.6em;
  }
  .mobileHeader__menu,
  .mobileHeader__menu-exit-done {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background-color: $light-dark;
    color: $white;
  }
  .mobileHeader__menu-enter {
    display: block;
    right: 100%;
  }
  .mobileHeader__menu-enter-active {
    display: block;
    right: 0;
    transition: right .2s ease;
  }
  .mobileHeader__menu-enter-done {
    display: block;
    right: 0;
  }
  .mobileHeader__menu-exit {
    display: block;
    right: 0;
  }
  .mobileHeader__menu-exit-active {
    right: 100%;
    transition: right .2s ease;
  }

  .mobileHeader__menu-exit-done {
    display: none
  }
  
  .mobileHeader__container {
    position: absolute;
    top: 30px;
    left: 15px;
    margin: -20px 0 0; 
    width: 40px;
    height: 40px;
    input {
      display: none;
      &:checked {
        + label:before {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -2px;
          width: 40px;
          height: 4px;
          border-radius: 2px;
          background: $white;
          -webkit-animation: animationOne 1s ease forwards;
        	animation: animationOne 1s ease forwards;
        }
        + label:after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -2px;
          width: 40px;
          height: 4px;
          border-radius: 2px;
          background: $white;
          -webkit-animation: animationTwo 1s ease forwards;
          animation: animationTwo 1s ease forwards;
        }
        + label .burger:before {
          -webkit-animation: animationBurgerTop 1s ease forwards;
          animation: animationBurgerTop 1s ease forwards;
        }
        + label .burger:after {
          -webkit-animation: animationBurgerBottom 1s ease forwards;
          animation: animationBurgerBottom 1s ease forwards;
        }
        
      }
    }
    label {
      position: relative;
      width: 40px;
      height: 40px;
      display: block;
      cursor: pointer;
      background: transparent;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -2px;
        width: 40px;
        height: 4px;
        border-radius: 2px;
        background: $white;
        -webkit-animation: animationOneReverse 1s ease forwards;
	      animation: animationOneReverse 1s ease forwards;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -2px;
        width: 40px;
        height: 4px;
        border-radius: 2px;
        background: $white;
        -webkit-animation: animationTwoReverse 1s ease forwards;
        animation: animationTwoReverse 1s ease forwards;
      }
      .burger {
        &:before {
        content: '';
        position: absolute;
        top: 6px;
        width: 40px;
        height: 4px;
        border-radius: 2px;
        background: $white;
        -webkit-animation: animationBurgerTopReverse 1s ease forwards;
        animation: animationBurgerTopReverse 1s ease forwards;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 6px;
          width: 40px;
          height: 4px;
          border-radius: 2px;
          background:$white;
          -webkit-animation: animationBurgerBottomReverse 1s ease forwards;
          animation: animationBurgerBottomReverse 1s ease forwards;
        }
      }
    }
  }
  
  span.menu {
    position: absolute;
    left: 150%;
    top: 7px;
    font-size: 22px;
    font-family: 'Comfortaa', cursive, sans-serif;
    letter-spacing: 1px;
    color: #fafafa;
  }
}

@-webkit-keyframes animationOneReverse {
	0% { -webkit-transform: rotate(315deg); }
	25% { -webkit-transform: rotate(360deg); }
	50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationOneReverse {
	0% { transform: rotate(315deg); }
	25% { transform: rotate(360deg); }
	50%, 100% { transform: rotate(0deg); }
}

@-webkit-keyframes animationOne {
	0%, 50% { -webkit-transform: rotate(0deg); }
	75% { -webkit-transform: rotate(360deg); }
	100% { -webkit-transform: rotate(315deg); }
}
@keyframes animationOne {
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(315deg); }
}

@-webkit-keyframes animationTwoReverse {
	0% { -webkit-transform: rotate(405deg); }
	25% { -webkit-transform: rotate(450deg); }
	50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationTwoReverse {
	0% { transform: rotate(405deg); }
	25% { transform: rotate(450deg); }
	50%, 100% { transform: rotate(0deg); }
}

@-webkit-keyframes animationTwo {
	0%, 50% { -webkit-transform: rotate(0deg); }
	75% { -webkit-transform: rotate(450deg); }
	100% { -webkit-transform: rotate(405deg); }
}
@keyframes animationTwo {
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(450deg); }
	100% { transform: rotate(405deg); }
}

@-webkit-keyframes animationBurgerTopReverse {
	0%, 50% { -webkit-transform: translateY(12px); opacity: 0; }
	51% { -webkit-transform: translateY(12px); opacity: 1; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerTopReverse {
	0%, 50% { transform: translateY(12px); opacity: 0; }
	51% { transform: translateY(12px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}

// .container input:checked + label .burger:before {
// 	-webkit-animation: animationBurgerTop 1s ease forwards;
// 	animation: animationBurgerTop 1s ease forwards;
// }

@-webkit-keyframes animationBurgerTop {
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	50% { -webkit-transform: translateY(12px); opacity: 1; }
	51%, 100% { -webkit-transform: translateY(12px); opacity: 0; }
}
@keyframes animationBurgerTop {
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(12px); opacity: 1; }
	51%, 100% { transform: translateY(12px); opacity: 0; }
}

@-webkit-keyframes animationBurgerBottomReverse {
	0%, 50% { -webkit-transform: translateY(-12px); opacity: 0; }
	51% { -webkit-transform: translateY(-12px); opacity: 1; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerBottomReverse {
	0%, 50% { transform: translateY(-12px); opacity: 0; }
	51% { transform: translateY(-12px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}

// .container input:checked + label .burger:after {
// 	-webkit-animation: animationBurgerBottom 1s ease forwards;
// 	animation: animationBurgerBottom 1s ease forwards;
// }

@-webkit-keyframes animationBurgerBottom {
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	50% { -webkit-transform: translateY(-12px); opacity: 1; }
	51%, 100% { -webkit-transform: translateY(-12px); opacity: 0; }
}
@keyframes animationBurgerBottom {
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(-12px); opacity: 1; }
	51%, 100% { transform: translateY(-12px); opacity: 0; }
}

.page__scrolled {
  background-color: $dark-white;
  
  .mobileHeader__logo {
    fill: $light-dark;
  }
  .mobileHeader__name {
    color: $light-dark;
  }
  .mobileHeader__container {
    input {
      &:checked {
        + label:before {
          background: $light-dark;
        }
        + label:after {
          background: $light-dark;
        }
      }
    }
    label {
      &:before {
        background: $light-dark;
      }
      &:after {
        background: $light-dark;
      }
      .burger {
        &:before {
        background: $light-dark;
        }
        &:after {
          background: $light-dark;
        }
      }
    }
    span.menu {
      color: $light-dark;
    }
  }
}

.example {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

