@import "../../../../styles/\ palettу.scss";

.mobileHeader__topline{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: transparent;
  display: flex;
  .bm-burger-bars {
    background: $white;
  }
  .mobileHeader__logo {
    height: 2.2em;
    width: 2.2em;
    margin-top: 15px;
    margin-left: 65px;
    margin-right: 15px;
    fill: $white;
  }
  .mobileHeader__name {
    color: $white;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.6em;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 15px;
  top: 15px;
}

.bm-burger-bars-hover {
  background: transparent;
}

.bm-cross-button {
  height: 26px !important;
  width: 26px !important;
  background: $light-dark;
  border-radius: 50%;
  border: 2px solid $dark-white; 
  & > span {
    top: 5px !important;
    right: 13px !important;
  }
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.9);
}

.bm-cross {
  background: $dark-white;
}

.bm-item-list{
  margin-top: 40px;
}
.bm-item {
  padding-left: 40px;
  a {
    font-size: 4em;
    line-height: 1.8em;
    color: $white;
    text-decoration: none;
  }
}

.page__scrolled {
  background-color: $dark-white;
  .bm-burger-bars {
    background: black;
  }  
  .mobileHeader__logo {
    fill: $light-dark;
  }
  .mobileHeader__name {
    color: $light-dark;
  }
}
